.cadastrar {
  margin-left: 20px;
}

.cadastrar-button {
  font-family: "Livvic";
  font-size: 16px;
  padding: 8px 16px;
  background-color: #116626;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.visualizar-frame {
  background-color: rgb(255, 255, 255);
  height: 550px;
  width: 1100px;
  padding-top: 50px;
  margin-bottom: 100px;
  margin-top: 0px;
  margin-right: 100px;
  border-right-width: 0px;
  margin-left: 100px;
  padding-right: 100px;
}

p {
  color: rgb(0, 0, 0);
  height: 80px;
  width: 500px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Livvic";
}

label {
  padding-left: 300px;
}

.label {
  display: inline-block;
  width: 60px;
  font-family: "Livvic";
}

tr {
  padding-left: 40px;
}

td {
  padding-left: 15px;
}

.resultado-container {
  padding-top: 40px;
  font-family: "Livvic";
  height: 30px;
}

.resultado-frame {
  padding-top: 10px;
  font-family: "Livvic";
  margin-left: 20px;
  padding-right: 500px;
  height: 30px;
  padding-right: 500px;
  border: 1px solid #575151;
  margin-top: 5px;
}
