.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 35% 65%;
  align-items: center;
}

.desktopImage {
  width: 500px;

  padding-top: 100px;

  height: 600px;

  transform: scale(1);
}

.tabletImage {
  width: 320px;
  height: 350px;
  transform: scale(0.9);
}

.mobileImage {
  width: 200px;
  height: 220px;
  transform: scale(0.7);
}

.label {
  color: rgb(255, 255, 255);
  font-size: 40px;
  width: 50%;
  text-align: left;
  padding-left: 0px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 96px;
  width: 50%;
}
