.student {
  min-width: 720px;
}

.student h1 {
  align-items: center;
  font-size: 42px;
  color: #c9c7c7;
  display: flex;
  grid-gap: 16px;
}

.student form {
  padding-bottom: 16px;
}

.student form label {
  color: #c9c7c7;
  text-transform: uppercase;
}

.student form input {
  margin: 0 12px;
  background-color: #c9c7c7;
  color: white;
  border: none;
  padding: 4px 12px;
  height: 24px;
}

.student table {
  width: 100%;
  border: none;
  border-spacing: inherit;
  border-collapse: none;
}

.student table thead th {
  background-color: #c9c7c7;
  text-transform: uppercase;
  color: #222727;
  text-align: center;
  font-size: 20px;
  padding: 4px;
}

.student table tbody td {
  background-color: #c9c7c7;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  padding: 2px;
}

.student .edit input {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  opacity: 1;
  color: white;
}

.student .edit input::placeholder {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  opacity: 1;
  color: white;
}

.edit {
  background-color: #c9c7c7;
  padding: 4px;
}

.edit .group-buttons {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  align-items: center;
  grid-gap: 52px;
} 

.edit > div {
  justify-content: center;
  padding: 12px 0;
  display: flex;
}

.student .edit label {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  color: #222727;
}

.student .edit input {
  margin: 0 12px;
  background-color: #222727;
  border: none;
  padding: 4px 12px;
}