table, th, td {
  border: 2px solid #E2EFDA;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
table {
  border: none;
  
}
th, td {
  padding: 10px;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
}
.thead {
  background-color: #E2EFDA;
  color: black;
}
td:hover {
  background-color: #E2EFDA;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all 0.25s linear;
}